<h1>Merchant Dashboard</h1>

<h1><%=@user.name%></h1>
<h2><%=@user.address%></h2>
<h2><%=@user.city%>, <%=@user.state%>, <%= @user.zip%></h2>
<br>
<% if @user.class == Merchant && @user.merchant_orders != nil %>
  <h2>Order for:</h2>
  <%= form_tag "/merchant/fulfill/#{@user.merchant_orders[:id]}", method: :post do %>
  <% @user.merchant_orders.items.each do |item| %>
    <p><%= item.name %></p>
    <% end %>
    <%= submit_tag 'Fulfill' %>
  <%end %>
  <% end %>
