<h1 align= "center">Register User</h1>
<center>
<%= form_for @user, :as => :user do |f| %>
  <%= f.label 'Name' %>
  <%= f.text_field :name %><br />

  <%= f.label 'Address' %>
  <%= f.text_field :address %><br />

  <%= f.label 'City' %>
  <%= f.text_field :city %><br />

  <%= f.label 'State' %>
  <%= f.text_field :state %><br />

  <%= f.label 'Zip' %>
  <%= f.text_field :zip %><br />

  <%= f.label 'Email' %>
  <%= f.text_field :email %><br />

  <%= f.label 'Password' %>
  <%= f.password_field :password %>

  <%= f.label 'Password Confirmation' %>
  <%= f.password_field :password_confirmation %>
  
  <%= f.submit 'Register New User' %>
<% end %>

</center>